@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

hr {
  border: none;
  border-left: 1px dashed gray; /* 여기서 색상은 원하는 회색으로 변경 */
  height: 46px;
  width: 1px;
}
body {
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  font-family: 'TheJamsil5Bold';
}
a {
  text-decoration: none;
  color: #878d95;
}
.adminMyPage-container {
  width: 1120px;
  height: auto;
  margin: auto;
}

.adminMyPage-header {
  width: 100%;
  height: 135px;
  border: 1px solid;
  display: flex;
}
.adminMyPage-header-left {
  width: 257px;
  height: 100%;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminMyPage-header ul {
  width: 854px;
  height: 100%;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.adminMyPage-header ul li {
  width: 150px;
  height: 46px;
  display: flex;
}

.adminMyPage-header ul li:nth-child(1)::before {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  margin-top: 2px;
  background-image: url("../zerohoneyPublic/resources/generalMypageUser.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.adminMyPage-header-right-box {
  width: 100px;
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.adminMyPage-header-right-box span {
  font-weight: bold;
}
.adminMyPage-header-right-box span:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  color: red;
  cursor: pointer;
}
/* adminPage header end */
/* adminPage content(body) start */

/* adminPage side bar start */
.adminMyPage-contents {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
}

.adminMyPage-contents-side-bar {
  width: 255px;
  height: 100%;
}

.side-bar-manage-show {
  width: 100%;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.side-bar-manage-show div {
  margin: 5px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin-left: 15px;
  color: #878d95;
}

.side-bar-manage-show div:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 15px;
  color: black;
}

.side-bar-manage-user {
  width: 100%;
  height: 169px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.side-bar-manage-user div {
  margin: 5px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin-left: 15px;
  color: #878d95;
}

.side-bar-manage-user div:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 15px;
  color: black;
}

/* adminPage side bar end */

/* adminPage chat icon start*/

.chat-icon {
  background-image: url("/FrontEnd/zerohoneyPublic/resources/chat.png");
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}
/* adminPage chat icon end*/

/* show-control start */
input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
}

.show-control-container {
  width: 862px;
  height: auto;
  padding: 38px 59px 0px 60px;
  border: 2px solid #f5f6f9;
  border-radius: 5px;
}

.show-control-tag {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-control-label {
  width: 150px;
  height: 35px;
  background-color: #f5f6f9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-control-label.checked-label {
  background-color: #878d95;
}

.enroll-show {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: none;
}
.enroll-show.block {
  display: block;
}

.enroll-show-image-container {
  width: 100%;
  height: 180px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.enroll-show-image-container .left {
  width: 20%;
  height: 100%;
  border: 1px solid;
}
.enroll-show-image-container .right {
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enroll-show-image-container .right input {
  width: 100%;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #8d949e;
  outline: none;
}

.right input:focus {
  border-bottom-color: skyblue;
}
.right input::placeholder {
  color: #8d949e;
}

.enroll-show-detail {
  width: 100%;
  margin-top: 15px;
  height: 150px;
  resize: none; /* Prevent resizing of the text area */
}

.enroll-show-date-container {
  width: 100%;
  height: 240px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.enroll-show-date-container label {
  margin-right: 10px;
  font-weight: bold;
}

.enroll-show-date-container input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.enroll-show-time-container {
  width: 100%;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.enroll-show-time-container div {
  font-weight: bold;
}

.enroll-show-time-container span {
  color: red;
}

.enroll-show-time-container input[type="time"] {
  padding: 5px;
  border-radius: 3px;
}
.enroll-show-button-container {
  width: 90px;
  height: 37px;
  margin: auto;
}
.enroll-show-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
/* show-control end */

/* show-update start */
.update-show {
  width: 100%;
  height: 100%;
  display: none;
}
.update-show.block {
  display: block;
}
.performance-list {
  width: 100%;
  list-style: none;
  padding: 0;
}

.performance-item {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
}

.performance-item .show-info {
  flex-grow: 1;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.performance-item .show-info img {
  width: 140px;
}

.performance-item .show-info span {
  margin-right: 10px;
}

.show-info .show-info-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.performance-item .buttons {
  display: flex;
  align-items: center;
}

.performance-item .buttons button {
  margin-left: 10px;
  background-color: white;
  color: rgba(255, 0, 0);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.user-info-post {
  width: 120px;
  height: 190px;
  margin: 10px;
}
/* show update end */

/* user report start */
.reported-user-container {
  width: 862px;
  height: 100%;
  padding: 38px 59px 0px 60px;
  border: 2px solid #f5f6f9;
  border-radius: 5px;
}

.user-list {
  list-style: none;

  padding: 0;
}

.user-item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
}

.user-item .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-item .content {
  font-size: 14px;
  margin-bottom: 10px;
}

.user-item .nickname {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-item .board-type {
  font-size: 12px;
  color: #777;
}
.user-item .report-buttons {
  width: 200px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  right: 10%;
  top: 35%;
}

.user-item .report-buttons button {
  margin-bottom: 5px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  width: 85px;
  height: 40px;
}

/* user report end */
/* user search start */
.search-user-container {
  width: 862px;
  height: 100%;
  padding: 38px 59px 0px 60px;
  border: 2px solid #f5f6f9;
  border-radius: 5px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.user-search-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-search-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-search-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.user-search-item .user-details {
  flex-grow: 1;
}

.user-search-item .user-name {
  font-weight: bold;
}

.user-search-item .user-email {
  font-size: 14px;
  color: #777;
}
/* user search end */

/* user detail start */

.user-detail-container {
  width: 862px;
  height: 100%;
  padding: 38px 59px 0px 60px;
  border: 2px solid #f5f6f9;
  border-radius: 5px;
}

.user-detail {
  width: 100%;
  height: 100%;
}

.user-detail-list {
  width: 100%;
  list-style: none;
  padding: 0;
}

.user-detail-item {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
}

.user-detail-item .user-info {
  flex-grow: 1;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-detail-item .user-info span {
  margin-right: 10px;
}

.user-info .user-info-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.user-detail-item .buttons {
  display: flex;
  align-items: center;
}

.user-detail-item .price span {
  margin-left: 10px;
  background-color: white;
  color: rgba(255, 0, 0);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

/* user detail end */

.chat-icon {
  cursor: pointer;
}
