@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

hr {
    border: none;
    border-left: 1px dashed gray; /* 여기서 색상은 원하는 회색으로 변경 */
    height: 46px;
    width: 1px;
  }
  body {
    box-sizing: border-box;
    font-family: 'TheJamsil5Bold';
  }
  a {
    text-decoration: none;
    color: #878d95;
  }
  .generalMyPage-container {
    width: 1120px;
    height: auto;
    margin: auto;
  }

  .generalMyPage-header {
    width: 100%;
    height: 135px;
    border: 1px solid;
    display: flex;
  }
  .generalMyPage-header-left {
    width: 257px;
    height: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .generalMyPage-header ul {
    width: 854px;
    height: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .generalMyPage-header ul li {
    width: 150px;
    height: 46px;
    display: flex;
  }
  .generalMyPage-header ul li:nth-child(1)::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background-image: url("./resources/generalMypagqCart.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .generalMyPage-header ul li:nth-child(3)::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    margin-top: 2px;
    background-image: url("./resources/generalMypageUser.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .generalMyPage-header-right-box {
    width: 100px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .generalMyPage-header-right-box span {
    font-weight: bold;
  }
  .generalMyPage-header-right-box span:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
    color: red;
    cursor: pointer;
  }
  /* mypage header end */
  /* mypage content(body) start */
  .generalMyPage-contents {
    width: 100%;
    height: auto;

    margin-top: 10px;
    display: flex;
  }

  .generalMyPage-contents-side-bar {
    width: 255px;
    height: 100%;
  }

  .side-bar-reserved {
    width: 100%;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid gray;
  }

  .side-bar-reserved div {
    margin: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-left: 15px;
    color: #878d95;
  }

  .side-bar-reserved div:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 15px;
    color: black;
  }

  .side-bar-board {
    width: 100%;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid gray;
  }

  .side-bar-board div {
    margin: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-left: 15px;
    color: #878d95;
  }

  .side-bar-board div:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 15px;
    color: black;
  }

  .side-bar-profile {
    width: 100%;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid gray;
  }

  .side-bar-profile div {
    margin: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-left: 15px;
    color: #878d95;
  }
  .side-bar-profile div:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 15px;
    color: black;
  }

  /* generalMyPage-contents detail html */

  .generalMyPage-contents-detail-profile {
    width: 862px;
    height: 100%;
    padding: 38px 59px 100px 60px;
  }
  /* this is css for script */
  .generalMyPage-contents-detail-profile.show {
    display: block;
  }
  /* this is css for script */

  .generalMyPage-contents-detail-profile .summary {
    width: 743px;
    height: 80px;
    background-color: #f5f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .generalMyPage-contents-detail-profile .divide-line {
    width: 743px;
    border: 1px solid #cfd0d7;
    margin-top: 50px;
  }

  .generalMyPage-contents-detail-profile .info {
    width: 743px;
    height: 450px;
  }

  .generalMyPage-contents-detail-profile .info .email {
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.7);
  }
  .email .email-left {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;

    margin-left: 5px;
  }

  .email .email-right {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .email .email-right span:nth-child(2) {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f9;
    border-radius: 10px;
    cursor: pointer;
  }

  .generalMyPage-contents-detail-profile .info .nickName {
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.7);
  }
  .nickName .nickName-left {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;

    margin-left: 5px;
  }

  .nickName .nickName-right {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nickName .nickName-right span:nth-child(2), #sendMailBtn, #codeBtn  {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f9;
    border-radius: 10px;
    cursor: pointer;
  }
  .generalMyPage-contents-detail-profile .info .password {
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.7);
  }
  .password .password-left {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;

    margin-left: 5px;
  }

  .password .password-right {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .password .password-right span:nth-child(2) {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f9;
    border-radius: 10px;
    cursor: pointer;
  }

  .info .profile {
    width: 100px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f9;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  /* change profile page done!*/
  /* review what he wrote page!*/

  .generalMyPage-contents-detail-reserved {
    width: 862px;
    height: 100%;
    padding: 30px;
  }
  .generalMyPage-contents-detail-reserved.show {
    display: block;
  }

  .show-container {
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
  }
  .show-container .show-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }

  .show-detail span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
  }
  .show-detail span:nth-child(2),
  span:nth-child(3) {
    font-size: 15px;
    color: #878d95;
  }
  .show-detail span:nth-child(4) {
    font-size: 20px;
    color: red;
  }

  .reserved-container {
    border-top: 1px solid gainsboro;
    margin-top: 20px;
  }

  .review-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }


  .review-container .user-review {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-review.none{
    display: none;
  }
  .user-review.block{
    display: block;
  }

  .review-container-input {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  .review-container-input.none {
    display: none;
  }
  .review-container-input.block {
    display: block;
  }

  .review-container-input .user-review {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-review .user-review-left {
    display: flex;
    align-items: center;
  }
  .user-review .update-button-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
  .user-review .update-button-container button {
    display: flex;
    cursor: pointer;
  }

  .user-review .update-button-container button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #ff3b30;
    border-radius: 12px;
    border: none;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .user-review .update-button-container button:hover {
    background-color: #d92c26;
  }

  .user-review .update-button-container button:active {
    background-color: #b5241d;
  }
  .review-container .user-review .user-review-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /* review input css */
  /* star */
  .starpoint_wrap {
    display: flex;
    justify-content: center;
  }
  .starpoint_box {
    position: relative;
    background: url(https://hsecode.github.io/images_codepen/codepen_sp_star.png)
      0 0 no-repeat;
    font-size: 0;
  }
  .starpoint_box .starpoint_bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    background: url(https://hsecode.github.io/images_codepen/codepen_sp_star.png)
      0 -20px no-repeat;
    pointer-events: none;
  }
  .starpoint_box .label_star {
    display: inline-block;
    width: 20px;
    height: 18px;
    box-sizing: border-box;
  }
  .starpoint_box .star_radio {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  .starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
  .starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg {
    width: 18%;
  }
  .starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
  .starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg {
    width: 38%;
  }
  .starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
  .starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg {
    width: 58%;
  }
  .starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
  .starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg {
    width: 77%;
  }
  .starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
  .starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg {
    width: 100%;
  }

  .rate1::before {
    width: 20px;
  }

  .rate2::before {
    width: 40px;
  }

  .rate3::before{
    width: 60px;
  }

  .rate4::before{
    width: 80px;
  }

  .rate5::before{
    width: 98px;
  }


  .blind {
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  /* review input css */

  .user-review-detail div:nth-child(1) {
    font-size: 14px;
    padding: 2px;
  }
  .user-review-detail div:nth-child(2) {
    font-size: 10px;
    padding: 2px;
  }

    /* .rate1::before, .rate2::before, .rate3::before, .rate4::before, .rate5::before */

  .user-review-detail div:nth-child(2) span .star {
    display: block;
    /* width: 50px; */
    height: 20px;
    background: url(https://hsecode.github.io/images_codepen/codepen_sp_star.png);
    font-size: 0;
    background-position: 0px 18px;
  }
  .user-review-detail div:nth-child(3) {
    font-size: 13px;
    padding: 2px;
  }

  .review-container .content {
    margin-top: 10px;
    padding: 10px;
  }
  .review-container .content.none {
   display: none;
  }
  .review-container .content.block {
   display: block;
  }

  .searchContainer {
    position: relative;
    margin: 1rem auto;
    width: 600px;
    height: 200px;
    margin: auto;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .reviewInput {
    padding: 10px;
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
    resize: none;
  }

  .searchButton {
    width: 23%;
    height: 68px;
    border: none;
    background-color: #ff3b30;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }

  #search-button:hover {
    background-color: #ff5733;
  }

  #sendMailBtn, #codeBtn {
    color: black;
  }

  #changePassword, #sendMailBtn, #codeResultDiv, #codeBtn, #codeInput, #passwordInput {
    display: none;
  }

  .pay-btn {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: #878d95;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .pay-true {
    background-color: gray;
  }

  .pay-false {
    background-color: #ff3b30;
  }

  .writer-img {
    width: 40px;
    height: 40px;
    margin-right: 4px;
  }

  #showMailCodeInput {
    width: 120px;
  }

  #sendMailBtn, #codeBtn {
    justify-content: center;
    align-items: center;
  }

  #changePassword {
    width: 120px;
    height: 50px;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    background-color: #f5f6f9;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  #codeResultDiv {
    width: 300px;
    font-size: 14px;
  }

  .fileInputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }