@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

/* 페이지 헤더 css */

body {
  border: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 16vh;
}
a {
  text-decoration: none;
  color: black;
}
.header_util a {
  text-decoration: none;
  color: gray;
}

.header_util {
  height: 3vh;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: right;
  color: gray;
  align-items: center;
}

.header_util div {
  padding-left: 5.005px;
  padding-right: 5.005px;
  border-right: 1.009px solid;
}

.header_util div:last-child {
  border-right: 1.009px solid white;
}

.header_inner {
  width: 70%;
  margin: auto;
  height: 9vh;
  display: flex;
}
.logo {
  width: 199.986px;
  height: 49.992px;
  margin-top: 2.1vh;
  background-image: url(http://openimage.interpark.com/ticket-desktop/components/header/interparkTicket_BI2x.png);
  background-size: cover;
}

.header_inner h1 {
  margin-top: 25.005px;
  margin-left: 14.996px;
}

.header_gnb {
  height: 4vh;
  width: 70%;
  margin: auto;
  display: flex;
}

.header_gnb div {
  padding-left: 10.01px;
  margin-right: 20.001px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.gnb_home {
  color: red;
}

.swiper {
  width: 100%;
  height: 599.997px;
  background-image: url(https://image.toast.com/aaaaab/ticketlink/TKL_6/BigBanner_PC_%EB%AF%B8%EB%94%94%EC%96%B4%EC%95%84%ED%8A%B8%EC%95%84%EC%9D%B4%EC%8A%A4%EC%87%BC_%EC%88%98%EC%A0%95.jpg);
}

/* 헤더 부분 css 끝 */

/* footer부분 */

.common_footer {
  width: 100%;
  height: 209.996px;
  border-top: 1.009px solid;
}

.footer_menu {
  display: flex;
  width: 70%;
  height: 4vh;
  padding-top: 10.01px;
  /* border: 1.009px solid; */
  margin: auto;
}

.footer_menu div {
  display: flex;
  align-items: center;
  font-size: 12.008px;
  padding-right: 29.991px;
  padding-left: 29.991px;
}

.footer_inner {
  width: 70%;
  margin: auto;
  padding-top: 10.01px;
}

.footer_inner span {
  padding-bottom: 10.01px;
}

/* footer 부분 끝 */
main {
  width: 100%;
  height: auto;
  position: relative;
}

/* 메인 페이지swiper */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family:'TheJamsil5Bold';
  font-size: 14.006px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container-wrap {
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 559.996px;
  padding-top: 49.992px;
  padding-bottom: 49.992px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  /* width: 100.003px;
  height: 100.003px; */
}

swiper-slide img {
  display: block;
  width: 100%;
  background-size: cover;
}
/* 메인 페이지 swiper 끝 */

/* 사이드 팝업 */
.side_popup {
  width: 291.996px;
  height: 800.002px;
  border: 1.009px solid #cfd0d7;
  border-radius: 12.008px;
  background: #fff;
  box-sizing: border-box;
  position: absolute;
  top: 10.01px;
  left: 10.01px;
  z-index: 3;
  /* on/off 기능 예정 */
  /* display: none; */
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

.side_popup_content li:first-child {
  padding-top: 14.996px;
}

.side_popup_content li img {
  width: 259.988px;
  height: 120.003px;
  border-radius: 10.01px;
  margin: auto;
}

.side_popup_footer {
  margin-top: 9.001px;
  display: flex;
  font-size: 20.001px;
  justify-content: space-between;
}

#side_popup_checkbox,
#popup_label {
  width: 20.001px;
  height: 20.001px;
  cursor: pointer;
}

.popup_close_btn {
  border: 0;
  font-size: 20.001px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1.998px;
}
/* 사이드 팝업 끝 */

/* 스와이퍼 아랫부분 광고배너 */
.promotion_banner {
  width: 70%;
  height: 120.003px;
  border-radius: 10.01px;
  background: #fff;
  position: absolute;
  left: 15%;
  z-index: 2;
  box-sizing: border-box;
}
/* 퍼센트로 수정 하여 동적으로 */

.promotion_banner img {
  border-radius: 10.01px;
  width: 49%;
  height: 120.003px;
}
/* 스와이퍼 아래 광고배너 끝 */

/* 윙배너(사이드배너랑 다름) */
.wing_banner {
  width: 100.003px;
  height: 450.002px;
  position: sticky;
  z-index: 1;
  top: 69.992px;
}

.wing_banner img {
  width: 100.003px;
  height: 116.007px;
  padding-top: 20.001px;
  margin-left: 40.001px;
}
/* 윙 배너 끝 */

/* 티켓 오픈 li */
.ticket_open {
  width: 70%;
  height: 450.002px;
  position: absolute;
  top: 670.008px;
  left: 14%;
  z-index: 2;
}

.ticket_open_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket_open_header h1 {
  margin-left: 20.001px;
}

.ticket_open_header div {
  text-decoration: underline;
  margin-right: 20.001px;
  font-size: 16.994px;
}

.ticket_open ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ticket_open li {
  width: 200.005px;
  height: 320.008px;
  margin-top: 29.991px;
}

.ticket_open li div {
  font-size: 18.002px;
  width: 200.005px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5.005px;
}

.ticket_open li span {
  color: red;
  font-size: 16.004px;
}

.ticket_open img {
  width: 200.005px;
  height: 249.997px;
  border-radius: 9.991px;
}

/* 티켓 오픈부분 끝 */

/* 오른쪽 윙 배너 시작 */
.right_wing_banner {
  position: sticky;
  top: 450px;
  width: 105.008px;
  height: 490.003px;
  transform: translate(89.333vw, -21.019vw);
  z-index: 1;
}

.right_wing_banner img {
  width: 100.003px;
  height: 120.003px;
  padding-top: 20.001px;
}

/* 평점순 랭킹, 댓글 순 랭킹부분 시작 */

.ranking {
  width: 70%;
  height: 450.002px;
  position: absolute;
  top: 1199.994px;
  left: 14%;
  z-index: 2;
}

.rankingname {
  padding-left: 20.001px;
}

.ranking button {
  box-sizing: border-box;
  font-size: 27.004px;
  font-weight: 600;
  border: none;
  border-right: 1.009px solid #a7acb6;
  border-width: 1.998px;
}

.ranking button:last-child {
  border: none;
  color: #a7acb6;
}

.rankingdiv ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ranking li {
  width: 200.005px;
  height: 320.008px;
  margin-top: 29.991px;
}

.rank_title {
  /* font-size: 18.002px; */
  width: 200.005px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5.005px;
}

.rank_date {
  font-size: 14.996px;
}

.rankingdiv img {
  width: 200.005px;
  height: 249.997px;
  border-radius: 9.991px;
}

.rank_img_wrap {
  width: 200.005px;
  height: 249.997px;
  position: relative;
}
.whitenum {
  height: 60.002px;
  z-index: 1;
  position: absolute;
  color: white;
  left: 0px;
  bottom: 0;
  font-size: 56.005px;
  font-weight: 700;
  padding-left: 9.991px;
}
/* 랭킹부분 css 끝 */

/* 오늘의 추천 시작 */

.recommend {
  width: 100%;
  height: 450.002px;
  margin-top:320.994px;
  box-sizing: border-box;
  background-color: #218ee6;
  position: relative;
}

.rec_header {
  width: 70%;
  height: 49.992px;
  margin: auto;
  transform: translateY(-50px);
  font-size: 16.004px;
}

.rec_poster {
  width: 359.991px;
  height: 450.002px;
  border-radius: 9.991px;
  position: absolute;
  top: 40.001px;
  left: 37%;
}

.rec_poster img {
  border-radius: 14.996px;
}

.rec_title_wrap {
  width: 309.999px;
  height: 450.002px;
  margin: auto;
  position: absolute;
  top: 0px;
  left: -359.991px;

  color: white;
}

.rec_title {
  font-size: 31px;
  line-height: 49.992px;
  font-weight: 550;
  margin-top: 120.003px;
}

.rec_subtitle {
  font-size: 18.002px;
}

.rec_ul_wrap {
  width: 340.009px;
  height: 359.991px;
  margin: auto;
  position: absolute;
  top: -49.992px;
  left: 419.992px;
  color: white;
}

.rec_ul_wrap ul {
  display: flex;
}

.rec_ul_wrap li {
  width: 309.999px;
  height: 69.992px;
  border-bottom: 1.009px solid rgba(255, 255, 255, 0.2);
  margin: auto;
}

.rec_ul_wrap li button {
  border: none;
  background-color: #218ee6;
  font-size: 18.002px;
  font-weight: bold;
  padding-top: 20.001px;
  color: white;
}

/* 오늘의 추천 작업 끝 */

/* 베스트 공연,전시 시작 */

.bestshow_header {
  width: 70%;
  height: 49.992px;
  margin: auto;
  transform: translateY(100.003px);
  font-size: 16.004px;
}

.bestshow {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 100.003px;
}

.bestshow ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bestshow li {
  width: 260.007px;
  height: 444.998px;
  margin-top: 29.991px;
}

.bestshow_img,
.bestshow_img img {
  width: 260.007px;
  height: 320.008px;
  border-radius: 14.996px;
  margin-bottom: 9.991px;
}

.bestshow_img_title {
  font-size: 20.001px;
}

.bestshow_img_loc,
.bestshow_img_date {
  color: #62676c;
}

/* 포스터 호버 시 효과 넣어주기 */
.ticket_open li img:hover,
.rankingdiv li img:hover,
.bestshow li img:hover,
.rankingdiv li img:hover + .whitenum,
.rec_poster img:hover {
  transform: scale(1.1);
}
