@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'TheJamsil5Bold';
}

button{
    cursor: pointer;
}

.box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 90vh;
}

.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
}



.signUp-header{
  color: #fff;
  font-size: 80px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
.contents-wrap .btn-red {
  display: block;
  background-color: #ef3e42;
  width: 100%;
  height: 50px;
  line-height: 48px;
  border-radius: 4px;
  border: 1px solid #ef3e42;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.nickName-input {
  height: 30px;
  width: 342px;
}

.input-nickName-field {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.input-nickName-field button {
  background-color: #ef3e42;
  border-radius: 4px;
  border: 1px solid #ef3e42;
  font-size: 10px;
}
.email-input {
  height: 30px;
  width: 80%;
}

.input-email-field {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.input-email-field button {
  width: 20%;
  background-color: #ef3e42;
  border-radius: 4px;
  border: 1px solid #ef3e42;
  font-size: 10px;
}

.confirm-num-input {
  height: 30px;
  width: 80%;
}

.input-confirm-num-field {
  margin-bottom: 10px;
  width: 100%;
  display: none;
}
.input-confirm-num-field.flex {
  display: flex;
}

.input-confirm-num-field button {
  /* width: 20%; */
  width: 62px;
  height: 35px;

  background-color: #ef3e42;
  border-radius: 4px;
  border: 1px solid #ef3e42;
  font-size: 10px;
}
.password-input {
  height: 30px;
  width: 342px;
}

.input-password-field {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.input-password-field button {
  background-color: #ef3e42;
  border-radius: 4px;
  border: 1px solid #ef3e42;
  font-size: 10px;
}

.left {
  display: inline-block;
}

.font-color {
  color: gray;
  font-size: 13px;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.pointer {
  cursor: pointer;
}

.codeBtns {
  display: flex;
  position: relative;
}

/* 인증코드 입력 후 전송 버튼 */
#codeBtn {
  position: absolute;
  display: none;
}

/* 이메일 인증하기 버튼(이메일 전송) */
#sendMailBtn {
  position: absolute;
  z-index: 0;
}

#emailResultDiv, #codeResultDiv, #nicknameResultDiv, #passwordResultDiv {
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 10px;
}