@font-face {
  font-family: "LeeSeoyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "TheJamsil5Bold";
}

.popup-wrap {
  /* 브라우저 크기 vw 가로 */
  /* 브라우저 크기 vh 세로 */
  /* 100vw 보고있는 브라우저 창의 전체 너비 */
  /* 100vh 보고있는 브라우저 창의 전체 높이 */
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}

/* popup-wrap클래스와 is-active 둘다 클래스를 가지고 있을때 */
/* 태그 한개가 클래스를 두개 가지고 있을때 */
.popup-wrap.is-active {
  display: block;
}

.popup-wrap .popup-content {
  background-color: #fff;
  border-radius: 12px;
  width: 300px;
  height: 500px;
  position: absolute;
  overflow: scroll;
  /* 보고있는 브라우저 기준으로 위치를 맞출수 있다. fixed */
}

.popup-wrap .popup-content span {
  width: 30px;
  height: 30px;
  /* 안보이면 block 속성이 없는거다.. */
  display: block;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.popup-wrap .popup-content span::after,
.popup-wrap .popup-content span::before {
  content: "";
  width: 15px;
  height: 4px;
  background-color: black;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-wrap .popup-content span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.custom-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: antiquewhite;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-image: url("https://image.fmkorea.com/files/attach/new/20201219/1135415169/2380230120/3269864399/997c818d2ed1029cde9e9a29ce518f31.png");
  background-size: cover;
  background-position: center;
}

.content-wrapper {
  text-align: center;
  position: relative;
}

.content-wrapper {
  text-align: center;
  margin: auto;
}

.content-wrapper img {
  width: 150px;
  height: auto;
  margin-right: 15px;
  margin: 0;
}

.offset {
  background-color: white;
  width: 270px;
  margin: auto;
  height: 160px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.08) 0px 2px 6px;
}

.offsetchatting {
  background-color: white;
  width: 230px;
  margin: auto;
  height: 100px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.08) 0px 2px 6px;
  text-align: left;
  transform: perspective(600px) rotateX(5deg) translateY(5px);
}

.offset p {
  margin: 10;
  margin-top: 10px;
  width: 180px;
}

.inquire {
  background-color: powderblue;
  width: 240px;
  margin: auto;
  height: 40px;
  border: 1px solid powderblue;
  border-radius: 10px;
}

.popup-wrap .popup-content .offset img {
  max-width: 15%;
  float: left;
  height: auto;
}

.imgsize {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
}

.chatting {
  display: flex;
  margin-left: 15px;
}

.popup-wrap .popup-content .offset p {
  width: 100%;
  margin: 10px 0;
}

.popup-wrap .popup-content .offset .inquire {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.popup-wrap .popup-content .offset .inquire .content-wrapper2 {
  background-color: powderblue;
  width: 240px;
  height: 10px;
  border: 1px solid powderblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.imgsize {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.imgsize img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.popup-content.chattingroom {
  left: 900px;
  display: none;
  display: block;
  position: relative;
  font-family: "LeeSeoyun";
}

.popup-content.chattingroom2 {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
  font-family: "LeeSeoyun";
}

.font-size {
  font-size: 5px;
  color: gray;
  display: flex;
  margin-left: 40px;
}

/* 채팅창 컨테이너를 밖으로 빼내어 class로 감쌈 */

.chat-input-container {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 5%;
}

.chat-input {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.chat-input-container button {
  z-index: 1;
  position: absolute;
  bottom: 9%;
  left: 72%;
  width: 50px;
  height: 45px;
  border-radius: 10px;
  background-color: #fa2828;
  color: white;
  border: 1px none;
  cursor: pointer;
}

#clientMessages {
  max-height: 200px;
  /* 최대 허용 높이 (예시로 200px로 설정) */
  width: 100%;
}

#adminMessages {
  max-height: 200px;
  width: 100%;
}

/* 이사 후의 css */
.close-btn {
  z-index: 10;
}

.close-btn2 {
  z-index: 10;
}

.popup-content2 {
  display: none;
}

.popup-wrap-cleint {
  width: 100%;
  height: 800px;
}

.popup-wrap-cleint .popup-content-client {
  background-color: #fff;
  border-radius: 12px;
  width: 300px;
  height: 500px;
  position: absolute;
  border: 1px dotted gray;
  /* 보고있는 브라우저 기준으로 위치를 맞출수 있다. fixed */
}

.popup-wrap-cleint .popup-content-client span {
  width: 30px;
  height: 30px;
  /* 안보이면 block 속성이 없는거다.. */
  display: block;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.popup-wrap-cleint .popup-content-client > span::after,
.popup-wrap-cleint .popup-content-client > span::before {
  content: "";
  width: 15px;
  height: 4px;
  background-color: black;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-wrap-cleint .popup-content-client span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-wrap-cleint .popup-content-client .offset img {
  max-width: 15%;
  float: left;
  height: auto;
}

.popup-wrap-cleint .popup-content-client .offset p {
  width: 100%;
  margin: 10px 0;
}

.popup-wrap-cleint .popup-content-client .offset .inquire {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.popup-wrap-cleint .popup-content-client .offset .inquire .content-wrapper2 {
  background-color: powderblue;
  width: 240px;
  height: 10px;
  border: 1px solid powderblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.popup-content-client.chattingroom {
  transform: translate(-50%, -30%);
  left: 50%;
  top: 50%;
  font-family: "LeeSeoyun";
}

.popup-content.chattingRoomBefore {
  display: block;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-family: "LeeSeoyun";
}

.messages {
  height: 160px;
  overflow: scroll;
  margin: 10px;
}

.chat-icon span {
  position: absolute;
  right: 0;
  font-size: x-large;
  top: -50%;
  color: red;
}

.bubble-left {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  /* background-color: #dff3fd; */
  /* border-radius: 10px; */
  overflow: hidden;
  animation: appearFromLeft 1s ease-in-out forwards;
  margin: 5px;
}
.bubble-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  /* background-color: rgb(233, 247, 239); */
  /* border-radius: 10px; */
  overflow: hidden;
  animation: appearFromRight 1s ease-in-out forwards;
  margin: 5px;
}

.bubble-left-child {
  width: 50%;
  min-height: 30px;
  background-color: #dff3fd;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 3px;
  padding-left: 10px;
}

.bubble-right-child {
  width: 50%;
  min-height: 30px;
  background-color: rgb(233, 247, 239);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 3px;
  padding-right: 10px;
}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* 이사 후의 css */
